@import "tailwindcss";

:root {
  --primary: #2b9dee;
  --background--light: #f6f7f8;
  --background--dark: #101a22;
  --surface--dark: #192833;
  --border--dark: #325167;
  --text-secondary: #92b2c9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-text: #2b9dee;
    --background--light: #f6f7f8;
    --background--dark: #101a22;
    --surface--dark: #192833;
    --border--dark: #325167;
    --text-secondary: #92b2c9;
    --text-primary: #ffffff;
  }
  }


body {
  background: var(--background--dark);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}
